@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    scroll-behavior: smooth;
  }

  .html {
    line-height: 1.5;
    -webkit-text-size-adjust: 100%;
    font-family: Albert Sans sans-serif;
    scroll-behavior: smooth;
  }

  details>summary {
    list-style: none;
  }

  details summary::-webkit-details-marker {
    display: none;
  }

  details[open] summary svg {
    transform: rotate(90deg);
  }
  
  details[open].syllabus summary svg {
    transform: rotate(180deg);
  }
  details[open].faq summary svg {
    transform: rotate(180deg);
  }

  details[open] summary.notShow svg {
    transform: rotate(0);
  }

  details[open] {
    >.faq .chevron-down {
      transform: rotate(180deg);
    }
  }

  .hidden-scroll::-webkit-scrollbar {
    display: none;
  }

  .hidden-scroll {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
  }

  input[type="range"] {
    -webkit-appearance: none;
    appearance: none;
    background: transparent;
    cursor: pointer;
    width: 100%;
  }

  input[type="range"]:focus {
    outline: none;
  }

  input[type="range"]::-webkit-slider-runnable-track {
    background-color: #06e474;
    border-radius: 0.5rem;
    height: 0.7rem;
  }

  input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    /* Override default look */
    appearance: none;
    margin-top: -3px;
    /* Centers thumb on the track */
    background: radial-gradient(circle,
        rgba(0, 0, 0, 1) 0%,
        rgba(0, 0, 0, 1) 40%,
        rgba(255, 255, 255, 1) 40%,
        rgba(255, 255, 255, 1) 100%);
    border-radius: 1rem;
    border: 1px solid black;
    height: 1.2rem;
    width: 1.2rem;
  }

  input[type="range"]:focus::-webkit-slider-thumb {
    border: 2px solid black;
  }

  input::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  .rotate-90 {
    transform: rotate(90deg);
  }

  .coding div pre {
    max-width: calc(100vw - 80px);
  }

  .markdown-body ol {
    list-style: decimal;
    /* Safari */
  }

  /* Disable scroll once drawer/modal is openned */
  body:has(.modal-toggle:checked) {
    overflow: hidden;
    height: 100vh;
  }
}

@layer components {
  .features {
    @apply flex items-center justify-center gap-6 flex-wrap;
    @apply relative max-w-[1280px] mx-auto;
  }

  .feature-card {
    @apply w-[380px] max-w-[380px] lg:h-[350px] bg-[#000D0D] rounded-3xl;
    @apply flex flex-col items-center justify-start gap-12;
  }

  .feature-card-lp-contest{
    @apply w-[380px] max-w-[380px] lg:h-[380px] bg-[#F4F4F4] rounded-3xl;
    @apply border-l border-transparent duration-200 whitespace-pre-line text-center;
    @apply flex flex-col items-center justify-start gap-8 py-10 px-8 lg:px-12;
  }

  .cursor {
    position: absolute;
    offset-distance: 0%;
    offset-rotate: 0deg;
    offset-anchor: center;
  }

  #cursor-1 {
    offset-path: url(#cursor-1-line-1);
  }

  #cursor-2 {
    offset-path: url(#cursor-2-line-1);
  }

  #cursor-3 {
    offset-path: url(#cursor-3-line-1);
  }

  #cursor-4 {
    offset-path: url(#cursor-4-line-1);
  }

  #cursor-tiago {
    offset-path: url(#design-system-cursor-path);
  }

  #theme-window {
    opacity: 0;
    transform-origin: 316px 446px;
  }

  #library {
    opacity: 0;
    transform-origin: 336px 452px;
  }

  #code-window {
    opacity: 0;
    transform-origin: 20px 215px;
  }

  #chair-text {
    opacity: 0;
    overflow: hidden;
    max-width: fit-content;
    white-space: nowrap;
    position: absolute;
    z-index: 1;
    left: 591px;
    top: 140px;
    font-size: 22px;
    color: #ebffff;
    font-weight: 600;
    border-right: 0.15em solid white;
  }

  .product-frame,
  .product-name-frame {
    opacity: 0;
  }

  .editor-feature {
    pointer-events: none;
    width: auto;
    max-height: 72vh;
  }

  .ellipse-1 {
    background: #02F67C;
    border-radius: 100%;
    filter: blur(75px);
    height: 566px;
    width: 566px;
    left: 100%;
    opacity: 0.15;
    position: absolute;
    top: -250px;
    transform: translateX(-50%);
    z-index: 30;
  }

  .ellipse-2 {
    background: #02F67C;
    border-radius: 100%;
    filter: blur(75px);
    height: 566px;
    width: 566px;
    opacity: 0.15;
    position: absolute;
    top: 60%;
    transform: translateX(-50%);
    z-index: 30;
  }

  .ellipse-3 {
    background: #02F67C;
    border-radius: 100%;
    filter: blur(75px);
    height: 566px;
    width: 566px;
    left: 100%;
    opacity: 0.15;
    position: absolute;
    top: 0%;
    transform: translateX(-50%);
    z-index: 30;
  }

  .feature-progress-bg {
    stroke: #52525B;
  }

  .feature-progress {
    stroke: #02F67C;
    stroke-dasharray: 0, 1;
  }

  .deco-grid {
    height: 100vh;
    width: 100vw;
    min-height: 100%;
    background-image: url(https://ozksgdmyrqcxcwhnbepg.supabase.co/storage/v1/object/public/assets/530/223e1f86-f8d1-4da2-8ba4-991d39ae9b7b);
    background-position: 0 0;
    background-size: 200px;
    display: block;
    position: fixed;
    top: 0%;
    bottom: 0%;
    left: 0%;
    right: 0%;
    pointer-events: none;
    z-index: 5;
  }

  .cursor-glow {
    width: 150px;
    height: 150px;
    background-color: #02F67C;
    filter: blur(125px);
    transition: .2s ease;
    position: fixed;
    top: 0%;
    bottom: auto;
    left: 0%;
    right: auto;
  }
}

@layer utilities {
  details>div {
    overflow: hidden;
    display: grid;
    /* intentionally independent from .animation as Safari 16
    would otherwise ignore the expansion animation. */
    animation-duration: 0.2s;
  }

  details>.animation {
    animation-name: grid-expand;
    animation-timing-function: ease-out;
  }

  details>.collapsing {
    animation-direction: reverse;
    animation-timing-function: ease-in;
  }

  details>div>div {
    min-height: 0;
  }

  @keyframes grid-expand {
    0% {
      grid-template-rows: 0fr;
    }

    100% {
      grid-template-rows: 1fr;
    }
  }
}

.container,
.right-container {
  width: 100%;
}

@media (min-width: 480px) {
  .container {
    max-width: 480px;
  }
}

@media (min-width: 640px) {
  .container {
    max-width: 640px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

@media (min-width: 1024px) {
  .container {
    max-width: 1024px;
  }
}

@media (min-width: 1280px) {
  .container {
    max-width: 1280px;
  }

  .right-container {
    max-width: calc(1280px+ ((100vw-1280px) / 2));
  }
}

@media (min-width: 1536px) {
  .container {
    max-width: 1536px;
  }

  .right-container {
    max-width: calc(1536px+ ((100vw-1536px) / 2));
  }
}

.prose :where(img):not(:where([class~="not-prose"] *)) {
  border-radius: 0.5rem;
  transition: transform 0.2s;
  cursor: pointer;
}

.prose a strong{
  color: #06E474;
}

.prose a {
  color: #06E474;
}

.prose strong {
  color: white;
}

.cursorCustom{
  cursor: url(/cursor.cur), default;
}